 body {
            background-color: black;
        }
        div {
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        h1 {
           text-align: center;
           color: darkgoldenrod;
           font-family: Arial, Helvetica, sans-serif;
        }
        button {
            font-size: 80px;
            background-color: blueviolet;
        }
        p {
            font-size: 25px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
             text-align: center;
             color: darkgoldenrod;
        }